body{
    background: linear-gradient(to top left, rgba(197, 0, 181, 0.644),rgb(55, 0, 255),rgb(255, 0, 255),  rgb(47, 0, 255));
    color: rgb(0, 0, 0);
    height: 100vh;
    margin: 32px;
    font-size: large;
    font-family: 'Segoe UI';
    text-align: center;
 }
 
 button{
    background-color: black;
    color: white;
    height: 36px;
    border-radius: 12px;
 }
 /*.config2{
   font-size: large;
   color: red;
}

.config{
   background-color: rgb(158, 37, 0);
   color: black;
   border-radius: 12px;
   height: 48px;
   text-align: center;
   font-size: larger;
   border: 10px rgb(0, 0, 0) solid;